.container {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 10px;
    cursor: pointer;
}

.container:hover {
    background-color: #ffffee;
}

.container.isCurrentItem {
    background-color: #ffffcc;
}

.container.isActive span {
    background-color: #ffcc00;
}
