.container {
    background-color: #fff;
    padding: 1em;
    cursor: pointer;
}

.container:hover span {
    background-color: #ffffcc;
}

.container.isActive span {
    background-color: #ffcc00;
}